<div class="d-flex flex-column flex-shrink-0 p-3 bg-light">
  <a href="/" class="mb-3 mb-md-0 text-center text-decoration-none">
    <span class="fs-1">😸</span><br>
    <span class="fs-4 text-body">どうぶつ図鑑</span>
  </a>
  <hr>
  <ul class="nav nav-pills flex-column mb-auto list-group">
    <%= sidebar_link_to("/cats", "🐈", "ねこ") %>
  </ul>
</div>